@use "sass:map";
@use "@fresku/scss" as *;

.ordersList {
  @include flex-column;
  gap: 0.5rem;
  margin: 1rem;
  margin-top: 0.5rem;

  .orderListItem {
    @include flex-row-center;
    @include box-shadow(0px, 1px);
    justify-content: space-between;
    background-color: white;
    padding: 0.5rem 1rem;
    font-weight: 500;

    span {
      &:nth-child(2),
      &:nth-child(3) {
        color: map.get($green, 600);
      }
    }
    a {
      @include flex-row-center;
      color: map.get($blue, 500);
      gap: 0.25rem;
    }
  }
}
