$blue: (
  50: rgb(250, 252, 255),
  100: rgb(237, 244, 253),
  200: rgb(200, 226, 249),
  300: rgb(144, 199, 244),
  400: rgb(81, 166, 236),
  500: rgb(31, 137, 224),
  600: rgb(16, 110, 193),
  700: rgb(14, 89, 160),
  800: rgb(13, 68, 119),
  900: rgb(19, 66, 114),
  950: rgb(12, 43, 79),
);

$green: (
  50: rgb(240, 253, 243),
  100: rgb(220, 252, 229),
  200: rgb(187, 247, 204),
  300: rgb(134, 239, 165),
  400: rgb(47, 218, 98),
  500: rgb(33, 198, 83),
  600: rgb(21, 164, 64),
  700: rgb(21, 128, 54),
  800: rgb(22, 101, 47),
  900: rgb(20, 83, 41),
  950: rgb(5, 46, 19),
);

$red: (
  50: rgb(254, 242, 242),
  100: rgb(254, 226, 226),
  200: rgb(254, 202, 202),
  300: rgb(252, 165, 165),
  400: rgb(248, 113, 113),
  500: rgb(239, 68, 68),
  600: rgb(220, 38, 38),
  700: rgb(185, 28, 28),
  800: rgb(153, 27, 27),
);

$gray: (
  50: rgb(249, 250, 251),
  100: rgb(243, 244, 246),
  200: rgb(229, 231, 235),
  300: rgb(209, 213, 219),
  400: rgb(156, 163, 175),
  500: rgb(107, 114, 128),
  600: rgb(75, 85, 99),
  700: rgb(55, 65, 81),
  800: rgb(30, 41, 59),
  900: rgb(15, 23, 42),
);

$neutral: (
  0: rgb(255, 255, 255),
  50: rgb(248, 248, 248),
  100: rgb(237, 237, 237),
  200: rgb(220, 220, 220),
  300: rgb(189, 189, 189),
  400: rgb(152, 152, 152),
  500: rgb(124, 124, 124),
  600: rgb(101, 101, 101),
  700: rgb(82, 82, 82),
  800: rgb(70, 70, 70),
  900: rgb(61, 61, 61),
  950: rgb(41, 41, 41),
);
$red: (
  50: rgb(255, 240, 243),
  100: rgb(255, 222, 228),
  200: rgb(255, 194, 205),
  300: rgb(255, 152, 170),
  400: rgb(255, 92, 120),
  500: rgb(255, 42, 79),
  600: rgb(248, 10, 51),
  700: rgb(217, 4, 41),
  800: rgb(172, 8, 36),
  900: rgb(142, 14, 36),
  950: rgb(78, 1, 14),
);

$stockStatus: (
  in: rgb(34, 197, 94),
  out: rgb(239, 68, 68),
  low: rgb(251, 191, 36),
);
