$blue: (
  50: rgb(242, 248, 253),
  100: rgb(228, 239, 250),
  200: rgb(195, 223, 244),
  300: rgb(142, 198, 235),
  400: rgb(84, 169, 222),
  500: rgb(44, 142, 203),
  600: rgb(29, 112, 172),
  700: rgb(25, 90, 139),
  800: rgb(24, 77, 116),
  900: rgb(25, 64, 97),
  950: rgb(17, 41, 64),
);

$green: (
  50: rgb(240, 253, 243),
  100: rgb(220, 252, 229),
  200: rgb(187, 247, 204),
  300: rgb(134, 239, 165),
  400: rgb(47, 218, 98),
  500: rgb(33, 198, 83),
  600: rgb(21, 164, 64),
  700: rgb(21, 128, 54),
  800: rgb(22, 101, 47),
  900: rgb(20, 83, 41),
  950: rgb(5, 46, 19),
);

$neutral: (
  50: rgb(248, 248, 248),
  100: rgb(237, 237, 237),
  200: rgb(220, 220, 220),
  300: rgb(189, 189, 189),
  400: rgb(152, 152, 152),
  500: rgb(124, 124, 124),
  600: rgb(101, 101, 101),
  700: rgb(82, 82, 82),
  800: rgb(70, 70, 70),
  900: rgb(61, 61, 61),
  950: rgb(41, 41, 41),
);

$stockStatus: (
  in: rgb(34, 197, 94),
  out: rgb(239, 68, 68),
  low: rgb(251, 191, 36),
);
