@use "sass:map";
@use "@fresku/scss" as *;

@mixin product-details {
  .productDetails {
    padding: 0.75em;
    flex-grow: 1;
    @include flex-column;
    justify-content: space-between;
    color: map.get($neutral, 800);
    overflow: hidden;
    gap: 0.2em;
    > .brand {
      @include line-clamp(1);
      font-size: 0.8em;
      font-weight: 600;
      color: map.get($neutral, 600);
    }
    > h3 {
      @include line-clamp(2);
      @include user-select(text);
      text-wrap: wrap;
      font-size: 0.9em;
      font-weight: 400;
      line-height: 1.3;
      margin-bottom: 0.8em;
      &.modal {
        margin-bottom: 1em;
        font-size: 1.25em;
      }
    }

    .measure {
      @include line-clamp(1);
      @include box-shadow(-0.3em, -10px, 0.5em, 0.1em, white);
      color: map.get($neutral, 600);
      border-start-start-radius: 22px;
      font-weight: 600;
      text-align: right;
      position: absolute;
      right: 0;
      padding-inline: 1em;
      background-color: white;
      transform: translateY(-1.5em);
    }
    .price {
      font-weight: 600;
      color: map.get($neutral, 600);
      align-self: flex-end;
    }

    &.small {
      padding: 0.25em;
      padding-bottom: 0.75em;

      @include flex-column-center;
      .measure {
        text-align: center;
        max-width: 100%;
        @include line-clamp(2);
      }
      .price {
        align-self: center;
      }
    }
    @include respond-to("md") {
      font-size: 1.2rem;
    }
  }
}

@mixin counter {
  .count {
    font-family: $font-mono;
    color: white;
    position: absolute;
    font-weight: 500;
    top: 0;
    left: 1.5rem;
    z-index: 10;
    padding-inline: 0.5rem;
    font-size: 1.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: map.get($green, 600);
  }
}

//-----------------PRODUCT CARD--------------------//
.productCard {
  @include flex-column;
  justify-content: space-between;
  position: relative;
  border-radius: 0.375rem;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  max-width: 14rem;
  min-width: 9rem;

  @include counter;
  @include product-details;
  @include respond-to("md") {
    font-size: 0.8rem;
    min-width: 12rem;
    &.small {
      max-width: 10rem;
    }
  }
  &.small {
    font-size: 0.8rem;
    max-width: 8rem;
    min-width: 7rem;
  }
}

.addButton {
  font-size: 3em;
  padding: 0.2rem;
  position: absolute;
  color: map.get($blue, 300);
  top: -0.7rem;
  right: -0.7rem;
  z-index: 10;
  cursor: pointer;

  @include press-behavior(0.8);

  &:hover {
    color: map.get($blue, 500);
  }
}

.modalButton {
  position: absolute;
  inset: 0;
  z-index: 5;
}

//-----------------MODAL--------------------//

.dialog {
  opacity: 0;
  padding: 0.5rem;
  overflow: hidden;
  border-radius: 0.375rem;
  max-width: 18rem;
  width: 70%;
  margin: auto;
  color: map.get($neutral, 950);
  font-size: 1rem;
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out,
    overlay 0.2s ease-out allow-discrete,
    display 0.2s ease-out allow-discrete;
  overflow: visible;
  @include user-select(none);

  @include product-details;

  &[open] {
    opacity: 1;
    &::backdrop {
      opacity: 0.5;
      transition: opacity 0.2s ease-out;
    }
  }
  &::backdrop {
    opacity: 0;
    background-color: map.get($neutral, 900);
    transition:
      display 0.2s allow-discrete,
      overlay 0.2s allow-discrete,
      background-color 0.2s;
  }

  .closeButton {
    border-radius: 99px;
    z-index: 10;
    position: absolute;
    right: -1.75rem;
    top: -1.75rem;
    background-color: map.get($neutral, 300);
    color: white;
    font-size: 2.25rem;
    @include press-behavior(0.8);
    transition:
      background-color 0.2s ease-in-out,
      transform 0.2s ease-in-out;

    &:hover {
      background-color: map.get($neutral, 400);
      transform: scale(1.1);
    }
  }
  .barcodeControls {
    @include flex-row-center;
    justify-content: center;
    margin: auto;
    gap: 1em;
    margin-block: 1rem;
    @include counter;
    .count {
      font-size: 1.5em;
    }
    > button {
      @include press-behavior(0.8);
      padding: 0.25em;
      font-size: 2.5em;
      color: map.get($blue, 500);
      cursor: pointer;
    }
    > span {
      font-size: 1.5em;
      font-weight: 600;
      position: relative;
      padding: 0.25em;
      font-family: $font-mono;
    }
  }
}

@starting-style {
  .dialog[open] {
    opacity: 0;
  }
}

@starting-style {
  .dialog[open]::backdrop {
    opacity: 0;
  }
}
