@use "sass:map";
@use "@fresku/scss" as *;

.container {
  @include flex-row-center;
  gap: 0.75rem;
  position: relative;
  width: 100%;
  margin-inline: auto;
}

.searchModeButton {
  @include press-behavior;
  @include box-shadow;
  background-color: white;
  padding: 0.5rem;
  border-radius: 99px;
  aspect-ratio: 1;
  font-size: 2em;
  text-align: center;
  border: 1px solid;
  &.agent {
    color: map.get($neutral, 600);
  }
  &.default {
    color: white;
    background: #34a5d1;
    background: linear-gradient(
      144deg,
      rgba(52, 165, 209, 1) 10%,
      rgba(99, 224, 151, 1) 90%
    );
  }
}
